<h1> Curso Angular</h1>

<p *ngIf="!isAvailable; else available">Lanzamiento: {{ lauchDate | date:"dd MM y" }}</p>
<ng-template #available>
    <span class="higthlight">Curso Disponible</span>
</ng-template>

<!-- PIPES
Es una manera de modificar el formato de la informacion, uno muy normal es json -> | json (transforma el elemento a json)
| date(dd MM yy) -> el pipe date recibe parametros para cambiar el orden
-->
 
<div class="category" [ngSwitch]="category">
    <span *ngSwitchCase="'web'">Desarrollo Web</span>
    <span *ngSwitchCase="'mobile'">Desarrollo Movil</span>
    <span *ngSwitchCase="'other'">Otro Desarrollo</span>
    <span *ngSwitchDefault>No Especificado</span>
</div>
<h3> Alumno: {{ name }}</h3>

<div>
    <a (click)="toggleMoreInformation()">Mas informacion
        <!-- <i class="fa " [class.fa-chevron-down] = "!moreInformation" [class.fa-chevron-up] = "moreInformation"></i> -->
        <i class="fa " [ngClass] = "{'fa-chevron-down': !moreInformation, 'fa-chevron-up': moreInformation}"></i>

    </a>
    <p *ngIf="moreInformation">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci nihil in veritatis sequi nulla eaque fugit libero numquam,
        atque exercitationem?</p>
</div>

<ul>
    <li *ngFor = "let topic of topics; index as posicion">{{ posicion+1 }}.- {{ topic }}</li>
</ul>



<div>
    <button [disabled]="!isAvailable || !suscribed" [ngClass]="{active: !isAvailable && suscribed , shadow: !isAvailable}" type="button" name="button">Inscribirse: {{ price | currency:"USD"}}</button>
</div>
<!-- <button [disabled]="!isAvailable" [ngClass]="css_clases" type="button" name="button">Inscribirse</button> -->