:host
{
    display: block;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgb(0,0, 0.2);
    padding: 1em;
    width: 400px;
    margin: 1em;
}

.container{
    display: grid;
    grid-template-areas:
        "imagen imagen username"
        "imagen imagen name";
    grid-template-rows: 100px 100px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
}

.username{
    grid-area: username;
}

.name{
    grid-area: name;
}

img{
    width: 100%;
    grid-area: imagen;
}