<div class="container">
  <!--
  <img [src]="avatar" alt="Avatar del usuario">
  <p class="username"> {{ username }}</p>
  <p class="name"> {{ nameInput.value }}</p>

  <input type="text" (change)="changing($event)" value="{{ username }}">
  <input type="text" (change)="name = $event.target.value" value="{{ name }}">
  <input type="text" value="{{ name }}" #nameInput>
  pero Tenemos que tener en cuenta que el e3vento no se dispara automaticamente, si sirve de referencia cuqndo
  el primer input cambia, pero si solo cambiamos el segundo, no

-->
<img [src]="avatar" alt="Avatar del usuario">
  <p class="username"> {{ username }}</p>
  <p class="name"> {{ name  }}</p>

  <input type="text" (change)="changing($event)" value="{{ username }}">
  <input type="text" [(ngModel)]="name">
</div>